@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@400;700&display=swap');

:root {
  background-color: rgb(173, 176, 232);
}

.dachshund_img {

  display: flex;
  width: 1400px;
  height: 400px;
}

.photo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
}

.photo2 {
  margin: 20px;
  display: block;
  margin-right: auto
}

h1 {
  font-family: 'Holtwood One SC', serif;
  font-size: 2.5rem;
}

.about {
  word-spacing: 6px;
  direction: ltr;
  color: blue;
  text-shadow: sandybrown 0.2em 0.3em 0.2em;
}

h4,
h3,
h2 {
  font-family: 'Holtwood One SC', serif;
  font-size: 2 rem;
}

.placeholder_dachshund {
  background-color: rgb(173, 213, 252);
  border-radius: 24px;

}


button {
  border-radius: 40px;
  background-color: rgb(84, 87, 245);
}

.form {
  display: block;
  position: relative;

}

.form::after {

  background: url(taksa.jpg);
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.factaboutdachshund {
  background: rgb(191, 178, 252);
  padding: 10px;
  margin-bottom: 36px;
  column-count: 2;
  /* CSS3 */

}




label,
input,
textarea {
  border-radius: 40px;
  font-size: 21px;
}

p {
  font-size: 21px;
  background-color: rgb(146, 151, 248);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(65, 87, 255);
}

tr:nth-child(even) {
  background-color: #ffffff;
}


.taskFirst,
.Taskfirst,
.Tasksthird {
  background-color: rgb(141, 145, 248);
}

.taskThird,
.Tasksecond,
.Tasksfourth,
.taskFisrtLab,
.taskThirdLab {
  background-color: rgb(101, 98, 255);
}

.labseven {
  display: flex;
  flex-direction: column;
}

.labEight {
  margin: 20px;
  height: 70px;
  width: 200px;
}

.taskFirstlabEight {
  display: block;
  box-sizing: border-box;
  padding: 20px 50px;
  font-family: 'Holtwood One SC', serif;
  
  text-decoration: none;
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
  background-color: rgb(141, 145, 248);
  border-color: rgb(98, 106, 255);
  border-width: 2px;
  border-radius: 27px;
  border-style: solid;
}

.taskFirstlabEight:hover {
  background-color: rgb(71, 68, 248);
}