@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@400;700&display=swap');

:root {
  background-color: bisque;
}

.dachshund_img {

  display: flex;
  width: 1400px;
  height: 400px;
}

.photo1 {
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin: 20px;
}

.photo2 {
  margin: 20px;
  display: block;
  margin-right: auto
}

h1 {
  font-family: 'Bungee Spice', cursive;
  font-size: 2.5rem;
}

.about {
  word-spacing: 6px;
  direction: ltr;
  color: blue;
  text-shadow: sandybrown 0.2em 0.3em 0.2em;
}

h4,
h3,
h2 {
  font-family: 'Bungee Spice', cursive;
  font-size: 2 rem;
}

.placeholder_dachshund {
  background-color: bisque;
  border-radius: 24px;

}


button {
  border-radius: 40px;
  background-color: sandybrown;
}

.form {
  display: block;
  position: relative;

}

.form::after {
  content: "";
  background: url(taksa.jpg);
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.factaboutdachshund{
  background: rgb(236, 126, 35);
  padding: 10px;
  margin-bottom: 36px;
  column-count: 3;
  /* CSS3 */

}




label,
input,
textarea {
  border-radius: 40px;
  font-size: 21px;
}

p {
  font-size: 21px;
  background-color: rgb(248, 202, 146);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.taskFirst,
.Taskfirst,
.Tasksthird {
  background-color: rgb(248, 203, 141);
}

.taskThird,
.Tasksecond,
.Tasksfourth,
.taskFisrtLab,
.taskThirdLab {
  background-color: rgb(255, 190, 98);
}

.labseven {
  display: flex;
  flex-direction: column;
}
.labEight{
  margin: 20px;
  height: 70px;
  width: 200px;
}

.taskFirstlabEight {
  display: block;
  box-sizing: border-box;
  padding: 20px 50px;
  font-family: 'Bungee Spice', cursive;;
  text-decoration: none;
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
  background-color: rgb(248, 203, 141);
  border-color: rgb(255, 190, 98) ;
  border-width: 2px;
  border-radius: 27px;
  border-style: solid;
}

.taskFirstlabEight:hover {
  background-color: rgb(248, 173, 68);
}