@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root {
    background-color: bisque;
}

label {
    font-family: 'Bungee Spice', cursive;
    font-size: 2 rem;
}

input {
    width: 200px;
    background-color: #fffcfc;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #ccc;
    transition: background-color 0.5s ease-in-out;
}
.general{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.first{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}
.second{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

input.clicked {
    background-color: red;
}
.factaboutDachshund {
    font-family: 'Raleway', sans-serif;
    font-weight:bold ;
    font-size: 21px;
    padding: 10px;
    margin-bottom: 36px;
    column-count: 3;
  
  }  
.dachshund_img {
    display: flex;
    width: 1400px;
    height: 400px;
  }
.photo1 {
    width: 700px;
    display: block;
    object-fit: cover;
  }
  
  .photo2 {
    width: 700px;
    display: block;
    object-fit: cover;
  }
  @media screen and (max-width: 650px){
    .dachshund_img{
      flex-direction: column;
    }
    .aboutDachshund{
    margin-top: 350px;
    }
    .photo1{
        width: 600px;

    }
    .photo2{
        width: 600px;
    }

  }